@charset "utf-8";

*{/*전체에게*/
    margin: 0 auto;
    padding: 0;
    list-style: none;/*기본값으로 지정되어 있는 목록스타일이 나타나지 않도록 지정*/
    font-family: "맑은 고딕";
    color: #222328;
}

body{
    width: 1000px;
    background-color: #ffffff;
    font-size: 20px;
}

a{
    text-decoration: none;/*기본값으로 a태그에 지정되어 있는 밑줄이 나타나지 않도록 지정*/
    display: block/*a요소와 img요소는 inline요소이기 때문에 바꿔줌*/
}

header{
    float: left;/*와이어프레임 조건에 맞춰 로고와 메뉴는 왼쪽에 배치*/
}

.top{/*로고와 메뉴 묶음*/
    float: left;
    height: 650px;
    width: 200px;
    background-color: #eeeeee;
}

.logo{
    float: left;
    height: 40px;
    width: 200px;
    margin: 30px 0 30px 0;/*로고 위아래 마진*/
}

.logo img{
    float: left;
    margin: 5px 0 0 15px;
}

.menu{
    width: 180px;
}

.bodywrap{/*슬라이드와 컨텐츠 묶음*//*근데 이걸 bodywrap말고 section으로 쓰면 안되나??*/
     float: right;
     height: 550px;/*슬라이드 높이 + 컨텐츠 높이*/
     width: 800px;
}

.imgslide{
    height: 350px;
    width: 800px;
}

.contents{/*tabmenu랑 otherwrap묶음*/
    float: right;
    height: 200px;/*탭메뉴, 배너, 바로가기 높이*/
    width: 800px;
}

.tabmenu{/*공지사항, 갤러리*/
    float: left;/*컨텐츠 안에서 왼쪽*/
    height: 200px;
    width: 300px;
}

.otherwrap{
    float: right;/*컨텐츠 안에서 오른쪽*/
    height: 200px;
    width: 500px;
}

.banner{
    float: left;/*아더랩 안에서 왼*/
    height: 200px;
    width: 300px;
}

.shortcut{
    float: right;/*아더랩 안에서 오*/
    height: 200px;
    width: 200px;
}

footer{
    float: right;
    height: 100px;
    width: 800px;
}

.bottom{/*btlogo와 site 묶음*/
    float: left;
    height: 100px;
    width: 800px;
    background-color: #cccccc;
}

.btlogo{
    float: left;/*푸터안에서 왼*/
    height: 100px;
    width: 200px;
}

.site{/*btmenu, copy 묶음*/
    float: right;
    height: 100px;
    width: 600px;
}

.btmenu{
    height: 50px;/*site의 height 2/1*/
    width: 600px;
}

.copy{
    height: 50px;/*site의 height 2/1*/
    width: 600px;
}