@charset "utf-8";

*{/*전체에게*/
    margin: 0 auto;
    padding: 0;
    list-style: none;/*기본값으로 지정되어 있는 목록스타일이 나타나지 않도록 지정*/
    font-family: "맑은 고딕";
    color: #222328;
}

body{
    width: 1000px;
    background-color: #ffffff;
    font-size: 20px;
}

a{
    text-decoration: none;/*기본값으로 a태그에 지정되어 있는 밑줄이 나타나지 않도록 지정*/
    display: block/*a요소와 img요소는 inline요소이기 때문에 바꿔줌*/
}

header{
    float: left;/*와이어프레임 조건에 맞춰 로고와 메뉴는 왼쪽에 배치*/
    position: absolute;/*메뉴위치 기준*/
}

.top{/*로고와 메뉴 묶음*/
    float: left;
    height: 650px;
    width: 200px;
    background-color: #eeeeee;
}

.logo{
    float: left;
    height: 40px;
    width: 200px;
    margin: 30px 0 30px 0;/*로고 위아래 마진*/
}

.logo img{
    float: left;
    margin: 5px 0 0 15px;
}

.menu{
    width: 180px;
    top: 100px;
    left: 10px;
    position: absolute;
    text-align: center;
    z-index: 1;/*z-index와 pos를 같이 사용해야 함*/
}

.navi>li{/*각 메뉴 제목?주제 스타일*/
    width: 180px;
    display: block;
}

.navi>li>a{/*각 메뉴 제목?주제 스타일*/
    height: 40px;
    width: 180px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;background-color: #222328;
    color: #ffffff;
}

.navi>li>a:hover{
    background-color: #930930;
    color: #fff000;
}

.submenu{
    float: left;
    width: 180px;
    height: 100%;
    left: 180px;/*각 메뉴 주제를 기준으로 옆으로 펼칠거니까 기준점(a)의 넓이*/
    top: 0;/*메인 메뉴 높이와 같은 높이로 나타남*/
    position: absolute;
    background-color: #ccc;
    display: none;
    z-index: 1;/*z-index와 pos를 같이 사용해야 함*/
}

.submenu>li>a{
    height: 40px;
    width: 180px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    background-color: #ccc;
    color: #fff;
}

.submenu>li>a:hover{
    background-color: #999;
    color: #ff0;
}

.bodywrap{/*슬라이드와 컨텐츠 묶음*//*근데 이걸 bodywrap말고 section으로 쓰면 안되나??*/
     float: right;
     height: 550px;/*슬라이드 높이 + 컨텐츠 높이*/
     width: 800px;
}

.imgslide{
    height: 350px;
    width: 800px;
    position: relative;
}

.imgslide>a{/*각 이미지와 이미지텍스트 묶음*/
    display: block;
    position: absolute;
    left: 0;
    top: 0;/*포지션을 0 0으로 줬으므로 3개의 a 태그가 같은 위치에 곂쳐 있다*/
    overflow: hidden;/*이미지가 지정된 영역의 벗어나면 밖으로 넘치는 부분은 보이지 않도록 지정*//*슬라이드를 만드는 경우는 거의 이 속성을 사용해야한다*/
    transition: all 3s;/*애니메이션 속도 3초로 지정*/
}

.imgtext{
    height: 50px;
    width: 300px;
    position: absolute;
    margin: -25px 0 0 -150px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    background-color: rgba(40,40,40,0.3);
    left: 50%;
    top: 50%;
     /*
        부모요소에 position:relative를 주고
        자식요소에 position:absolute를 적용한 후

        margin-top : height의 1/2 음수값(-);,
        margin-left : width의 1/2 음수값(-); ex) margin: -25px 0 0 -150px;
        left: 50%;
        top: 50%;

        이 조합으로 준다면 수평, 수직으로 동시에 가운데 정렬을 할 수 있다
    */
}

.contents{/*tabmenu랑 otherwrap묶음*/
    float: right;
    height: 200px;/*탭메뉴, 배너, 바로가기 높이*/
    width: 800px;
    /*800왼쪽부터 = (탭메뉴 왼쪽여백 5)+(탭메뉴 너비 290)+(남은 여백 5)+(배너 너비 295)+(남은 여백 5)+(바로가기 너비 200) */
    position: absolute;
}

.tabmenu{/*공지사항, 갤러리*/
    float: left;/*컨텐츠 안에서 왼쪽*/
    height: 180px;/*부모 높이와 밑에 있는 마진을 계산해서 20을 뺸 180으로 지정*/
    width: 290px;/*부모 너비와 밑에 있는 마진left:5px을 주었고 이후 속성에서 오른쪽이 5px이 남도록 지정할거기 때문에 10을 뺀 290으로 지정 */
    margin: 10px 0 10px 5px;
    position: relative;
}

.tabmenu>li{/*공지사항과 갤러리가 쓰여있는 타이틀 박스 영역*/
    float: left;
    width: 80px;
    line-height: 30px;
}

.tabmenu>li>a{/*공지사항과 갤러리가 쓰여있는 타이틀 text 영역*/
    display: block;
    font-size: 14px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ddd;
    border-bottom: none;
}

.tabmenu>li>a:hover{
    background-color: #eeeeee;
}

.tabmenu>li:first-child{
    border-right: none;
}

.tabmenu>li.active>a{
    background-color: #fff;
}

.tabmenu>li div{
    position: absolute;
    left: 5px;
    height: 0;
    overflow: hidden;
}

.tabmenu>li.active div{
    width: 288px;
    height: 148px;
    border: 1px solid #ddd;
    z-index: 1;
}

.notice ul{
    float: left;
    width: 288px;
    margin: 12px 0 12px 0;
}

.notice li{
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    margin: 0 10px 0 10px;
}

.notice li:nth-child(2n){
    background-color: #ccc;
}

.notice li span{
    float: right;
}

.notice li:hover{
    font-weight: bold;
}

.gallery li{
    float: left;
    margin-top: 20px;
    margin-left: 5px;
}

.gallery img{
    height: 90px;
    width: 70px;
    padding: 10px;
    opacity: 0.5;/*투명도*/
}

.gallery img:hover{
    transition: all 0.5s;
    opacity: 1;
    width: 80px;
    height: 100px;
}

.otherwrap{/*배너와 바로가기 묶음*/
    float: right;/*컨텐츠 안에서 오른쪽*/
    height: 180px;
    width: 500px;
}

.banner{
    float: left;/*아더랩 안에서 왼*/
    height: 180px;
    width: 295px;
    margin: 10px 0;
}

.banner img{
    float: left;/*배너안에서*/
}

.shortcut{
    float: right;/*아더랩 안에서 오*/
    height: 200px;
    width: 200px;
}

footer{
    float: right;
    height: 100px;
    width: 800px;
}

.bottom{/*btlogo와 site 묶음*/
    float: left;
    height: 100px;
    width: 800px;
    background-color: #cccccc;
}

.btlogo{
    float: left;/*푸터안에서 왼*/
    height: 100px;
    width: 200px;
}

.site{/*btmenu, copy 묶음*/
    float: right;
    height: 100px;
    width: 600px;
}

.btmenu{
    height: 50px;/*site의 height 2/1*/
    width: 600px;
}

.copy{
    height: 50px;/*site의 height 2/1*/
    width: 600px;
}